annotated-types==0.6.0
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
malwarebazaar==0.2.4
pathlib==1.0.1
pyClamd==0.4.0
pycryptodomex==3.20.0
pydantic==2.5.3
pydantic-core==2.14.6
python-dotenv==1.0.0
python-magic==0.4.27
PyYAML==6.0.1
pyzipper==0.3.6
requests==2.31.0
typing-extensions==4.9.0
urllib3==2.1.0
